{{define "footer_v2"}}
</section>

<!-- Javascript Libraries -->
<!-- jQuery -->
<script src="/static/theme/js/jquery.min.js"></script> <!-- jQuery Library -->
<script src="/static/theme/js/jquery-ui.min.js"></script> <!-- jQuery UI -->
<script src="/static/theme/js/jquery.easing.1.3.js"></script> <!-- jQuery Easing - Requirred for Lightbox + Pie Charts-->

<!-- Bootstrap -->
<script src="/static/theme/js/bootstrap.min.js"></script>

<!-- Charts -->
<script src="/static/theme/js/charts/jquery.flot.js"></script> <!-- Flot Main -->
<script src="/static/theme/js/charts/jquery.flot.time.js"></script> <!-- Flot sub -->
<script src="/static/theme/js/charts/jquery.flot.animator.min.js"></script> <!-- Flot sub -->
<script src="/static/theme/js/charts/jquery.flot.resize.min.js"></script> <!-- Flot sub - for repaint when resizing the screen -->

<script src="/static/theme/js/sparkline.min.js"></script> <!-- Sparkline - Tiny charts -->
<script src="/static/theme/js/easypiechart.js"></script> <!-- EasyPieChart - Animated Pie Charts -->
<script src="/static/theme/js/charts.js"></script> <!-- All the above chart related functions -->

<!-- Map -->
<script src="/static/theme/js/maps/jvectormap.min.js"></script> <!-- jVectorMap main library -->
<script src="/static/theme/js/maps/usa.js"></script> <!-- USA Map for jVectorMap -->

<!--  Form Related -->
<script src="/static/theme/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

<!-- UX -->
<script src="/static/theme/js/scroll.min.js"></script> <!-- Custom Scrollbar -->

<!-- Other -->
<script src="/static/theme/js/calendar.min.js"></script> <!-- Calendar -->
<script src="/static/theme/js/feeds.min.js"></script> <!-- News Feeds -->


<!-- All JS functions -->
<script src="/static/theme/js/functions.js"></script>

<script src="/static/js/ui-modals.js"></script>
<script src="/static/js/http.js"></script>
<script src="/static/js/crudAction.js"></script>


</body>
</html>
{{end}}