{{define "header"}}
<!DOCTYPE html>
<!--[if IE 8]>
   <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->

<head>
    <!-- BEGIN HEAD -->
    <meta charset="utf-8"/>
    <title>kubernetes dashboard</title>
    <meta content="kubernetes dashboard" name="description"/>
    <meta content="" name="author"/>
    <meta name="keywords" content="docker,kubernetes">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">


    <!-- CSS -->
    <link href="/assets/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/theme/css/animate.min.css" rel="stylesheet">
    <link href="/assets/theme/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/theme/css/form.css" rel="stylesheet">
    <link href="/assets/theme/css/calendar.css" rel="stylesheet">
    <link href="/assets/theme/css/style.css" rel="stylesheet">
    <link href="/assets/theme/css/icons.css" rel="stylesheet">
    <link href="/assets/theme/css/generics.css" rel="stylesheet">
    <link href="/assets/theme/css/main.css" rel="stylesheet">


    <link rel="shortcut icon" href="/assets/favicon.ico"/>
</head>
<body id="skin-blur-lights">

<header id="header" class="media">
    <a href="" id="menu-toggle"></a>
    <a class="logo pull-left" href="index.html">KBoard v1.0</a>

    <div class="media-body">
        <div class="media" id="top-menu">

            <div id="time" class="pull-right">
                <span id="hours"></span>
                :
                <span id="min"></span>
                :
                <span id="sec"></span>
            </div>
            <div class="btn-group m-b-5 pull-right">

            </div>
            <div class="m-b-5 dropdown pull-right ">
                <a href="" data-toggle="dropdown">
                    <img style="width: 32px;height: 32px;" class="profile-pic animated" src="/assets/theme/img/profile-pic.jpg" alt="">
                    <h5 class="m-0" style="display: inline-block">Hello，{{.GTplUsername}}</h5>
                </a>

                <ul class="dropdown-menu animated bounceIn">
                    <li>
                        <a data-container="container" data-href="/my/edit" href="javascript:void(0)" class="dialogDo">
                            <i class="icon left">&#61873;</i> 个人资料
                        </a>
                    </li>
                    <li><a href="/auth/logout"><i class="icon left">&#61723;</i> 退出</a></li>
                </ul>
            </div>
            {{/*<div class="media-body">*/}}
                {{/*<input type="text" class="main-search">*/}}
            {{/*</div>*/}}
            <!-- Breadcrumb -->
            <div class="media-body">
                <ol class="breadcrumb hidden-xs">
                    <li>Home</li>
                    <li>{{.GModule}}</li>
                    <li class="active">{{.GAction}}</li>
                </ol>
            </div>
        </div>
    </div>
</header>

<div class="clearfix"></div>

<section id="main" class="p-relative" role="main">

    <!-- Sidebar -->
    <aside id="sidebar">

        <!-- Sidbar Widgets -->
    {{template "aside" .}}
        <!-- Side Menu -->
    {{template "menu" .}}

    </aside>

    <!-- Content -->
    <section id="content" class="container">

        <!-- Messages Drawer -->

        <!-- Notification Drawer -->

        {{end}}