{{define "pager_v2"}}
<div class="media">
    <div class="pull-left pagination">
        <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-alt">{{.paginator.PerPageNums}}</button>
            <div class="btn-group m-b-10">
                <button type="button" class="btn btn-sm btn-alt dropdown-toggle" data-toggle="dropdown">
                    每页显示
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-alt" role="menu">
                    <li><a href="{{.paginator.PageSize 20}}">20</a></li>
                    <li><a href="{{.paginator.PageSize 50}}">50</a></li>
                    <li><a href="{{.paginator.PageSize 100}}">100</a></li>
                    <li><a href="{{.paginator.PageSize 150}}">150</a></li>
                    <li><a href="{{.paginator.PageSize 200}}">200</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <ul class="pagination">
        {{if .paginator.HasPrev}}
            <li><a href="{{.paginator.PageLinkFirst}}">首页</a></li>
            <li><a href="{{.paginator.PageLinkPrev}}"><i class="fa fa-angle-left"></i></a></li>
        {{else}}
            <li><a>首页</a></li>
            <li><a><i class="fa fa-angle-left"></i></a></li>
        {{end}}
        {{range $index, $page := .paginator.Pages}}
            <li {{if $.paginator.IsActive .}} class="active"{{end}}>
                <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
            </li>
        {{end}}
        {{if .paginator.HasNext}}
            <li><a href="{{.paginator.PageLinkNext}}"><i class="fa fa-angle-right"></i></a></li>
            <li><a href="{{.paginator.PageLinkLast}}">末页</a></li>
        {{else}}
            <li><a><i class="fa fa-angle-right"></i></a></li>
            <li><a>末页</a></li>
        {{end}}
        </ul>
    </div>
    <ul class="list-inline pull-right m-t-5 m-b-0">
        <li class="pagin-value hidden-xs">共{{.paginator.PageNums}}页，{{.paginator.Nums}}个记录</li>
    </ul>
</div>
{{end}}